page-login {
    p {
        font-size: 0.8em;
        color: red !important;
    }

    .alert-radio-icon {
        right: 13px !important;
    }

    ion-label, .select-text {
        margin-left: 10px;
    }

    ion-input, ion-select, ion-textarea {
        background-color: #f2f2f2;
        padding: 5px 10px;
    }

    .invalid {
        border: 1px solid #ea6153;
    }
    .form-control
    {
        font-family: "FontAwesome";
        border-top: 0px;
        border-left: 0px;
        border-bottom: 1px solid #b2b3b354;
        border-right: 1px solid #b2b3b354;
        box-shadow: 1px 1px 1px 2px rgba(169, 167, 167, 0.17);
 

}
.rtl small.form-text.text-muted{
    float: right;
}
input.text-input{
    width: 100% !important;
    background-color: white;
    padding: 15px 8px !important;
    margin: 0px !important;
}

.form-control:focus
{
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #b2b3b354;
    border-right: 1px solid #b2b3b354;
    box-shadow: 1px 1px 1px 2px rgba(1, 106, 56, 0.17);
}
.form-check-input {
    
     margin-left: 1rem;
     position: inherit;
}
.form-control::-webkit-input-placeholder {
     color: rgba(1, 106, 56, 0.27);
    size: 7px;
    font-family: "FontAwesome";
}
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        direction: ltr;
        text-align: right;
        font-weight: 500;
        color: #424242;
    }
    .text-muted {
        color: #016a38 !important;
    }
    // img {
    //     max-width: 40%;
    //     border: 0;
    // }
    .btn-primary {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
    
   #exampleFormControlSelect1
   {
select option[selected]{
    color: rgba(1, 106, 56, 0.27);
}

   }
  
      .btn-primary:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
    }
      .btn-primary:hover {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
      .btn-primary:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #016a38 !important;
        border-color: #016a38 !important;
    }
}
