<ion-header class={{lang_direction}}>
  <ion-navbar  >
      <ion-title>{{"timeOfReturn" | translate }}</ion-title>
      <ion-buttons style="display: inherit;" right>
        <button ion-button icon-only  ><img src="assets/imgs/dlogo.png" width="25" height="25" style="border: 0px;"></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class={{lang_direction}} style="background-color:white">
  <ion-list radio-group [(ngModel)]="returnTimesSelected">
      <!-- <ion-list-header>
          {{specifyReturnTime}}
        </ion-list-header> -->
        <ion-item *ngFor="let item of returnTimes">
            <ion-label>{{item.decoded_value}}</ion-label>
            <ion-radio [value]="item.id"></ion-radio>
          </ion-item>
          <ion-item>
              <ion-label>{{"anotherTime" | translate }}</ion-label>
              <ion-radio [value]="0"></ion-radio>
            </ion-item>
  </ion-list> 
  <ion-row padding style="color:white" *ngIf="returnTimesSelected == 0">
    <!-- <ion-col col-4 >
        <ion-datetime style="background-color: #b2d2c3" displayFormat="DD" [placeholder]="dayTime"  [(ngModel)]="day"></ion-datetime>
        <ion-icon class="timeArrow" name="ios-arrow-down"></ion-icon>
    </ion-col>
    <ion-col col-4 >
        <ion-datetime style="background-color: #b2d2c3" displayFormat="MM" [placeholder]="monthTime" [(ngModel)]="month"></ion-datetime><ion-icon class="timeArrow" name="ios-arrow-down"></ion-icon>
      </ion-col> --> 
      <ion-col col-12 >
          <ion-datetime [min]="minDate" [max]='maxYear' style="background-color: #b2d2c3;text-align: center; font-size: 20px; padding: 9px;" displayFormat="DD-MM-YYYY" [placeholder]="reOrderDate" [(ngModel)]="orderDate"
          [cancelText]="this.translate.instant('canceltxt')" [doneText]="this.translate.instant('doneTxt')"></ion-datetime><ion-icon class="timeArrow" name="ios-arrow-down"></ion-icon>
        </ion-col>
  </ion-row>

                <div class="text-center"> 
                    <button type="button"  class="btn btn-primary btn-lg btn-xs" style="width:250px" (click)="saveOrder()"> {{"EndDetection" | translate}} </button>  
                  </div>
                <br>
                  <div class="text-center">
                      <button type="button"  class="btn btn-primary btn-lg  btn-xs " style="background-color:#389e6e;width:250px" (click)="cancelReOrder()">   {{"canceltxt" | translate}}       </button>  
                    </div>
</ion-content>
