
<ion-content style="background-color:white" padding  class={{lang_direction}}>
    <div class="text-center">
        <img src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="margin-top: 80px;" >
    </div>
    <br>
    <br>
    <span *ngIf="type == 0">
    <form>
        <div class="text-center" >

            <small id="passwordHelpBlock " class="form-text text-muted " style="color: #707375 !important;font-size: 16px;margin-bottom: 8px">
                      {{"doctorAdministrationMsg" | translate}}
            </small>
            </div>
           
            <!-- <div class="text-center">

            <small id="passwordHelpBlock " class="form-text text-muted " style="color: #a1a3a5 !important;font-size: 15px;">
                          {{"accountNotActivate" | translate}}
            </small>
            </div> -->
            <hr>
            <br>
            <!-- <ion-row padding>
              <ion-col col-1 >
           <img src="assets/icon/folders.png" width="25" height="25" style="max-width: 100%;">
          </ion-col>
          <ion-col col-11>
            <small id="passwordHelpBlock " class="form-text text-muted pull-right" style="color: #76797b !important;font-size: 16px;">
                 {{"requiredPapers" | translate}}</small>
                  
            <small id="passwordHelpBlock " class="form-text text-muted pull-right" style=" color: #a1a3a5 !important;font-size: 15px;">
               {{"reqImags" | translate}} </small>
                 
            <small id="passwordHelpBlock " class="form-text text-muted pull-right" style="color: #a1a3a5!important;font-size: 15px;">
            {{"certificatesPapers" | translate}}
            </small>
              </ion-col>
              </ion-row> -->

              <ion-row padding>
                <ion-col col-1>
                  <img src="assets/icon/servicegreen.png" width="25" height="25" style="max-width: 100%;">
            </ion-col>
            <ion-col col-11>
              <small id="passwordHelpBlock " class="form-text text-muted pull-right" style=" color: #76797b !important;font-size: 16px;">
                {{"reqTools" | translate}} </small>
            </ion-col>
              </ion-row>
              <ion-row *ngFor="let item of tools">
                <ion-col col-1></ion-col>
                <ion-col col-11 >
              <small id="passwordHelpBlock " class="form-text text-muted pull-right" style=" color: #76797b !important;font-size: 16px;">
                  {{item.value}} </small>
             
                </ion-col>
                </ion-row>
</form>
</span>
<span *ngIf="type != 0">
<form>
  <div class="text-center" >

      <small id="passwordHelpBlock " class="form-text text-muted " style="color: #707375 !important;font-size: 16px;margin-bottom: 8px">
                {{"entityAdministrationMsg" | translate}}
      </small>
      </div>
      </form>
</span>
<ion-item style="text-align:center;" no-lines>
    <button type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="goToLogin()"> {{"Login" | translate}}</button>  
 </ion-item>
</ion-content>
