
<ion-header class={{lang_direction}}>

  <ion-navbar hideBackButton>
    <ion-title>إرسال شكوى</ion-title>
    <ion-buttons style="display: inherit;" left>
        <button ion-button icon-only  menuToggle><img src="assets/icon/menu.png" width="25" height="25" style="border: 0px;"></button>
    </ion-buttons>
    <ion-buttons style="display: inherit;" right>
      <button ion-button icon-only  ><img src="assets/imgs/dlogo.png" width="30" style="border: 0px;"></button>
  </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content style="background-color:white" class={{lang_direction}} padding>
  <div class="text-center">
    <img src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="max-width:40%;margin-top: 35px;">
  </div>

  <div class="form-group" style="margin-top: 5rem;">
    <ion-textarea placeholder="اترك رسالتك..." class="form-control" [(ngModel)]="complaintTxt" rows="5" id="comment" style="background-color: #e8f1ed;color:black"></ion-textarea>
  </div>
  
  <ion-item style="text-align:center;" no-lines>
      <button type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="sendComplaint()"> {{"Send" | translate}}</button>  
   </ion-item>
</ion-content>